{% load i18n static %}
    {% if cl.search_fields %}
            <form id="changelist-search" method="get">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="{% translate 'Search' %}" aria-label="{% translate 'Search' %}" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" autofocus aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <input type="submit"class="btn btn-outline-secondary" id="button-addon2" value="{% translate 'Search' %}">
                            </div>
                        </div>
                    </div>
                    {% if show_result_count %}
                        <div class="col-xl-6 pt-1">
                            <span class="small quiet">
                                {% blocktranslate count counter=cl.result_count %}
                                    {{ counter }} result{% plural %}{{ counter }} results
                                {% endblocktranslate %}
                                (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktranslate with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktranslate %}{% else %}{% translate "Show all" %}{% endif %}</a>)
                            </span>
                        </div>
    {% endif %}
    {% for pair in cl.params.items %}
        {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
    {% endfor %}
    </div>
    </form>
{% endif %}
