Input field style

.fo_rm_fild{
    width: 100%; position: relative; height: 50px; overflow: hidden;
}
.fo_rm_fild input{
    width: 100%; height: 100%; color: blue; padding-top: 10px; border: none; outline: none;
}
.fo_rm_fild label{
    position: absolute; bottom: 0; left: 0%; width: 100%; height: 100%; pointer-events: none;
    border-bottom: 1px solid black;
}
.fo_rm_fild label::after{
    content: ''; position: absolute; left: 0; bottom: -1px; height: 100%; width: 100%;
    border-bottom: 2px solid blue; transform: translateX(-100%); transition: transform 0.3s ease;
}
.lebl_content{
    position: absolute; bottom: 5px; left: 0; transition: all 0.3s ease;
}
.fo_rm_fild input:focus + .lebl_nam .lebl_content, .fo_rm_fild input:valid + .lebl_nam .lebl_content{
    transform: translateY(-150%); font-size: 16px; color: blue;
}
.fo_rm_fild input:focus + .lebl_nam::after, .fo_rm_fild input:valid + .lebl_nam::after{
    transform: translateX(0%);
}

/* new input css */

.group 			  {
    position:relative;
    margin-bottom:3em;
}
.group input 				{
    font-size:18px;
    padding:0.625em  0.625em 0.625em 0.3125em;
    display:block;
    width:18.75em;
    border:none;
    border-bottom:1px solid #757575;
}
.group input:focus {
    outline:none;
}

/* LABEL ======================================= */
.group label {
    font-family:'Arial';
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:0.3125em;
    top:0.625em;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
.group input:focus ~ .group label, .group input:valid ~ label 		{
    top:-20px;
    left: -2px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{
    position:relative;
    display:block;
}

.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
 }

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
    width:50%;
}


/* Primary Color Table Style */
.tbl_structure{
	width: 100%; border-radius: 10px; box-shadow: 0 0 10px #ccc;
}
.tbl_structure th{
	background-color: #00777A; padding: 12px 0; text-align: center;
	color: #fff;
}
.tbl_structure th:first-child{
	border-top-left-radius: 10px;
}
.tbl_structure th:last-child{
	border-top-right-radius: 10px;
}
.tbl_structure tbody tr:nth-child(even){
	background-color: rgba(0,119,122,.1);
}
.tbl_structure tbody tr td{
	text-align: center; padding: 12px 0; color: #000; font-weight: 600;
}
.tbl_structure tbody tr:last-child td:first-child{
	border-bottom-left-radius: 10px;
}
.tbl_structure tbody tr:last-child td:last-child{
	border-bottom-right-radius: 10px;
}

/* Primary Color Table Style */
.tbl_light{
	width: 100%; box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
}
.tbl_light th{
	background-color: rgba(0,0,0,.1); padding: 15px 0; text-align: center;
	color: #000;
}

.tbl_light tbody tr td{
	text-align: center; padding: 12px 0; color: #000; font-weight: 600;
}

select {
    width: 100%;
}

.box-shadow{
    box-shadow: 2px 2px 15px #ccc; border-radius: 10px; padding: 25px 10px;
}

.module{
    background: transparent !important;
}

.bg_ground{
    background: url('/static/admin/img/web/footer-circle-bg.svg') right bottom no-repeat, url('/static/admin/img/web/autoresponder_video.svg') left bottom no-repeat;
    background-size: 65%;
}

@media (max-width: 1024px) {
    #changelist-filter{
        display: none;
    }
}
